*~
arm/
arm-p/
x86/
.metadata/
BlackBerry10Simulator-BB10_3_1-995/
Client/ListenerClientAppl/config.pri
Client/MasterClientAppl/config.pri
Common/ClientServerShareLib/config.pri
Common/ClientServerShareLib/translations/qm
Common/ClientServerShareLib/config.pri
