*~
arm/
arm-p/
x86/
.metadata/
BlackBerry10Simulator-BB10_3_1-995/
Client/ListenerClientAppl/config.pri
Client/MasterClientAppl/config.pri
Common/ClientServerShareLib/config.pri
Common/ClientServerShareLib/translations/qm
ServerAppl/translations/qm
ServerAppl/config.pri
Common/NetworkLibTestApp/config.pri
sim_10_3_1_995/
